body,
textarea,
input {
    font: 14px 'Trebuchet MS', sans-serif;
}

.chat {
    max-width: 500px;
    margin: 50px auto 0;
}

.chat_messages,
.chat_textarea,
.chat_name {
    border: 1px solid #BBB;
}

.chat_messages {
    width: 100%;
    height: 300%;
    overflow-y: scroll;
    padding: 10px;
}

.chat_message {
    margin-bottom: 10px;
}

.chat_name,
.chat_textarea {
    width: 100%;
    padding: 10px;
    margin: 0;
    outline: none;
}

.chat_name {
    border-bottom: 0;
}

.chat_textarea {
    border-top: 0;
    max-width: 100%;
}

.chat_status{
    color: #BBB;
}